@charset "utf-8";
.edu
{
	width:700px;
}
.workExp
{
	width:700px;
}
.content
{
	margin-bottom:150px;
}

.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #f1f1f1;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: #3c67e3;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background: #d13639;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background:#000;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background:#000;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
.pp
{
	height:300px;
	width:300px;
	display:inline-block;
	margin-bottom:100px;
}
.summaryInfo
{
	display:inline-block;
	position:fixed;
	margin-left:20px;
	height:500px;
}
.header
{
	display:inline-block;
	position:fixed;
	margin-left:20px;
}
.info
{
	display:inline-block;
	position:fixed;
	margin-left:200px;
}
.email
{
	font-size:18px;
}